/* Bingo-Generator | Carsten Stephan 2021 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
}

table, td, th {
    border: 2px solid black;
}

table {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

button {
    text-align: center;
    left: 50%;
}